html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    font: 16px "Open Sans";
    letter-spacing: 0.5px;
    line-height: 1.4;
    height: 100%;
    background-color:#C2C2C3;
    margin:0;
    padding: 0;
    overflow-x:  hidden !important;
}

#navegacao .navbar {
    background-color: transparent;
    padding-top: 20px;
    padding-bottom: 20px;
    transition: .6s all;
}

#navegacao .navbar a {
    color: #fff;
    font-weight: 700;
    font-size: 1em;
    text-decoration: none;
}

#navegacao .navbar .navbar-nav a:after {
    content: "";
    height: 2px;
    width: 0px;
    float: left;
    background-color: #007bff;
    transition: .5s all;
    border-radius: 10px;
}

#navegacao .navbar .navbar-nav a:hover:after {
    width: 100%;
}

#navegacao a.navbar-brand{
    margin-left: 10px;
    padding-left: 70px;
    display: block;
    font-family: 'Montserrat', sans-serif;
    background-image: url(../imagens/new-logo1.webp);
    background-repeat: no-repeat;
    background-size: contain;
    transition: .5s all;
}

#navegacao h1 {
    margin-bottom: 0;
    font-size: 1.8em;
    letter-spacing: -1px;
    text-transform: uppercase;
    color: #007bff;
    text-shadow: 0 0 10px #000;
}

#navegacao a span {
    font-size: 1em !important;
}

#navegacao.scroll h1  {
    font-size: 1.3em;
}

#navegacao.scroll a span {
    font-size: 0.9em !important;
}

#navegacao.scroll .navbar{
    background-color: rgba(0,0,0,.9);
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(255,255,255,.1);
    box-shadow: 0 0 10px rgba(0,0,0,.5);
}

#home {
    height: 100%;
    position: relative;
    padding: 70px 0;
    margin-top: 0;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
    background-attachment: fixed;
    background-image: url(../imagens/banner1-1.jpg);
}

#home .descricao {
    width: 100%;
    padding-top: 100px;
}

#home .box-banner {
    color: #fff;
    padding: 25px 18px;
    font-size: 20px;
    font-weight: 500;
}

#home .box-banner h2 {
    font-family: "Montserrat";
    line-height: 1;
    letter-spacing: -1px;
    font-weight: 500;
    font-size: 42px;
    text-shadow: 5px 10px 5px rgba(0,0,0,.7);
    text-transform: uppercase;
    color: #007bff; 
}

#home .banner-text {
    padding: 10px 10px 0 10px;
    margin-top: 15px;
}

.titulo-nome {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -1px;
    font-weight: 600;
    margin: 10px 0;
}

.titulo {
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    margin-bottom: 50px;
    color: #007bff;
}

#sobre {
    padding: 50px 0 70px 0;
}

#sobre h3 {
    margin: 5px 0 20px 0;
    font-size: 42px;
}

#sobre .dev {
    font-size: 1.1em;
}

#sobre p{
    text-indent: 25px;
}

#sobre .box-foto {
    margin-top: 40px;
    padding:50px 30px 50px 60px;
    background-size: contain;
    background-image: url(../imagens/fundo-foto.png);
    background-repeat: no-repeat;
    background-position: center;
}

#sobre .box-foto img {
    border: 5px solid black;
}

#servico {
    background-image: url(../imagens/banner3-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.servico {
    padding: 50px 0;
}

.box-servico {
    position: relative;
    height: 220px;
    margin-bottom: 20px;
    padding: 20px 10px;
    color: #fff;
    border-radius: 3px;
    background: rgba(255,255,255,.1);
    transition: 1s all;
}

.box-servico h4 {
    padding: 10px 0;
}

.box-servico svg {
    height: 3em;
}

.box-servico:hover {
    background: rgba(255,255,255,.3);
    box-shadow: 0 0 10px rgba(0,0,0,.3);
}

.box-servico::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    border-color: #007bff;
    transition: 1s all;
}

.box-servico:hover:after {
    width: 70px;
    height: 70px;
    border-bottom-right-radius: 3px;
    border-bottom: 2px solid #007bff;
    border-right: 2px solid #007bff;
}

.box-servico::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-color: #007bff;
    transition: 1s all;
}

.box-servico:hover:before {
    width: 70px;
    height: 70px;
    border-top-left-radius: 3px;
    border-top: 2px solid #007bff;
    border-left: 2px solid #007bff;
}

#portfolio {
    padding: 50px 0 70px 0;
}

.box-portfolio {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 10px;
    background-color: #0D0D0D;
    box-shadow: 0 0 10px rgba(0,0,0,.6);
}

.box-portfolio img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    border: 3px solid #C2C2C3;
    object-fit: cover;
    object-position: top;
}

.box-portfolio-text {
    margin-top: 10px;
    padding: 10px;
    color: #fff;
}

#contato {
    background-color: #0D0D0D;
    padding: 50px 0 70px 0;
    color: #fff;    
}

#contato p {
    margin-bottom: 30px;
}

#contato a {
    display: inline-block;
    padding: 3px;
}

#contato a:hover {
    text-decoration: none;
    color: #fff;
}

#contato .icone {
    margin-top: 20px;
}

footer {
    background-color: #000;
    font-size: 14px;
    padding: 20px 0 10px;
    color: #fff;
}



/* --- ANIMAÇÕES BLOCOS --- */

.js .anime-esquerda {
	opacity: 0;
	transform: translate3D(-50px, 0, 0);
}

.js .anime-direita {
	opacity: 0;
	transform: translate3D(50px, 0, 0);
}

.js .anime-topo {
	opacity: 0;
	transform: translate(0px, -50px);
}

.js .anime-debaixo {
	opacity: 0;
	transform: translate(50px, 0);
}

.js .anime-init {
	opacity: 1;
	transform: translate3D(0, 0, 0);
	transition: 1s all ease;
}


#home span.animated {
	position: absolute;
	margin: auto;
	right: 0;
	left: 0;
	bottom: 50px;
	height: 4px;
	width: 4px;
	border-radius: 2px;
	background: #fff;
	animation-duration: 2.5s;
	animation-iteration-count: infinite;
}
  
#home span.animated::before,
#home span.animated::after {
	position: absolute;
	top: -23px;
	content: "";
	height: 30px;
	width: 4px;
	border-radius: 2px;
	background: #fff;
}
  
#home span.animated::before {
	left: -10px;
	-webkit-transform: rotate(-45deg);
	-moz-transform:    rotate(-45deg);
	-ms-transform:     rotate(-45deg);
	-o-transform:      rotate(-45deg);
	transform:         rotate(-45deg);
}
  
#home span.animated::after {
	right: -10px;
	-webkit-transform: rotate(45deg);
	-moz-transform:    rotate(45deg);
	-ms-transform:     rotate(45deg);
	-o-transform:      rotate(45deg);
	transform:         rotate(45deg);
}
  