body, html {
    font: 16px "Open Sans";
    letter-spacing: 0.5px;
    line-height: 1.4;
    height: 100%;
    background-color:#C2C2C3;
}

#navegacao .navbar {
    background-color: transparent;
    padding-top: 20px;
    padding-bottom: 20px;
}

#navegacao .navbar a {
    color: #fff;
    font-weight: 700;
    font-size: 1em;
    text-decoration: none;
}

#navegacao .navbar .navbar-nav a:after {
    content: "";
    height: 2px;
    width: 0px;
    float: left;
    background-color: #007bff;
    transition: .3s all;
    border-radius: 10px;
}

#navegacao .navbar .navbar-nav a:hover:after {
    width: 100%;
}

#navegacao .navbar a h1 {
    font-size: 2.5em;
}

#navegacao.scroll .navbar{
    background-color: #0D0D0D;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(255,255,255,.1);
    box-shadow: 0 0 10px rgba(0,0,0,.5);
}

#navegacao.scroll .titulo-nome {
    color: #007bff;
    font-size: 2em;
    transition: .6s all;
}

#banner {
    height: 100%;
    position: relative;
    padding: 70px 0;
    margin-top: 0;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
    background-attachment: fixed;
    background-image: url(../imagens/banner1-1.jpg);
}

#banner .descricao {
    width: 100%;
    padding-top: 100px;
}

#banner .box-banner {
    color: #fff;
    padding: 25px 18px;
    font-size: 20px;
    font-weight: 500;
}

#banner .box-banner h2 {
    font-family: "Montserrat";
    line-height: 1;
    letter-spacing: -1px;
    font-weight: 500;
    font-size: 42px;
    text-shadow: 5px 10px 5px rgba(0,0,0,.7);
    text-transform: uppercase;
    color: #007bff; 
}

#banner .banner-text {
    padding: 10px 10px 0 10px;
    margin-top: 15px;
}

.titulo-nome {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -1px;
    font-weight: 600;
    margin: 10px 0;
}

.titulo {
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    margin-bottom: 50px;
    color: #007bff;
}

#sobre {
    padding: 50px 0 70px 0;
}

#sobre h3 {
    margin: 5px 0 20px 0;
    font-size: 42px;
}

#sobre .dev {
    font-size: 1.1em;
}

#sobre p{
    text-indent: 25px;
}

#sobre .box-foto {
    padding:50px 30px 50px 60px;
    background-size: contain;
    background-image: url(../imagens/fundo-foto.png);
    background-repeat: no-repeat;
    background-position: center;
}

#sobre .box-foto img {
    border: 5px solid black;
}

#servico {
    background-image: url(../imagens/banner3-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.servico {
    padding: 50px 0;
}

.box-servico {
    position: relative;
    margin-bottom: 20px;
    padding: 10px;
    color: #fff;
    border-radius: 3px;
    background: rgba(255,255,255,.1);
    transition: 1s all;
}

.box-servico h4 {
    padding: 10px 0;
}

.box-servico:hover {
    background: rgba(255,255,255,.3);
    box-shadow: 0 0 10px rgba(0,0,0,.3);
}

.box-servico::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    border-color: #007bff;
    transition: 1s all;
}

.box-servico:hover:after {
    width: 70px;
    height: 70px;
    border-bottom-right-radius: 3px;
    border-bottom: 2px solid #007bff;
    border-right: 2px solid #007bff;
}

.box-servico::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-color: #007bff;
    transition: 1s all;
}

.box-servico:hover:before {
    width: 70px;
    height: 70px;
    border-top-left-radius: 3px;
    border-top: 2px solid #007bff;
    border-left: 2px solid #007bff;
}

#portfolio {
    padding: 50px 0 70px 0;
    background-color: rgba(0,0,0,0.1);
}
