/*Extra small devices (portrait phones, menor que 576px)*/
@media (max-width: 575.98px) {
    html {
        overflow-x: hidden;
        height: auto;
    }
    body {
        min-width: 320px !important;
    }

    .container {
        padding-left: 5%;
        padding-right: 5%;
    }
    
    #navegacao .navbar {
        padding: .5rem 1rem;
    }

    #navegacao .navbar-toggler {
        margin-bottom: 15px;
    }
    
    #navegacao.scroll .navbar-toggler {
        margin-bottom: 0;
    }

    #navegacao h1 a, #navegacao.scroll h1 a {
        margin-top: 10px;        
        width: 120px;
        background-image: url(../imagens/logo-invert.png);
    }

    #home {
        padding-bottom: 50px;
    }
    #home .descricao {
        padding-top: 40px;
    }
    
    #home .box-banner {
        font-size: 18px;
    }

    #home .box-banner h2 {
        font-size: 38px;
        letter-spacing: 2px;
    }

    #sobre, .servico, #portfolio, #contato {
        padding: 30px 0 50px 0;
    }

    .titulo {
        margin: 10px 0 30px 0;
    }

    .box-servico {
        height: auto;
    }
}

/*Small devices (landscape phones, 576px e maiores)*/
@media (min-width: 576px) and (max-width: 767.98px) {
    body {
        background: red;
    }
}

/*Medium devices (tablets, 768px e maiores)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    body {
        background: blue;
    }
}

/*Large devices (desktops, 992px e maiores)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
    body {
        background: yellow;
    }
}

/*Extra large devices (large desktops, 1200px  e maiores)*/
@media (min-width:1200px) and (max-width:1440px) {
    body {
        background: gray;
    }
}

@media (min-width:1441px) and (max-width:1600px) {

}

@media (min-width:1601px) {

}