/*Extra small devices (portrait phones, menor que 576px)*/
@media (max-width: 575.98px) {
    html {
        overflow-x: hidden;
        height: auto;
    }
    body {
        min-width: 320px !important;
    }

    .container {
        padding-left: 5%;
        padding-right: 5%;
    }
    
    #navegacao .navbar{
        background-color: rgba(0,0,0,.9);
        padding-top: 5px;
        padding-bottom: 5px;
        border-bottom: 1px solid rgba(255,255,255,.1);
        box-shadow: 0 0 10px rgba(0,0,0,.5);
    }
    
    #navegacao h1 a, #navegacao.scroll h1 a {
        margin-top: 5px;        
        width: 100px;
        height: auto;
        background-image: url(../imagens/logo-invert.png);
    }

    #navegacao .navbar .navbar-nav a:hover:after {
        width: 0px;
    }

    #home {
        padding-bottom: 50px;
    }
    #home .descricao {
        padding-top: 40px;
    }
    
    #home .box-banner {
        font-size: 18px;
    }

    #home .box-banner h2 {
        font-size: 38px;
        letter-spacing: 2px;
    }

    #sobre, .servico, #portfolio, #contato {
        padding: 30px 0 50px 0;
    }

    .titulo {
        margin: 10px 0 30px 0;
    }

    .box-servico {
        height: auto;
    }
}

/*Small devices (landscape phones, 576px e maiores)*/
@media (min-width: 576px) and (max-width: 767.98px) {
    html {
        overflow-x: hidden;
        height: auto;
    }

    .container {
        padding-left: 5%;
        padding-right: 5%;
        max-width: unset;
    }

    #navegacao .navbar{
        background-color: rgba(0,0,0,.9);
        padding-top: 2px;
        padding-bottom: 0;
        border-bottom: 1px solid rgba(255,255,255,.1);
        box-shadow: 0 0 10px rgba(0,0,0,.5);
    }

    #navegacao.scroll .navbar, #navegacao h1 {
        padding-top: 2px;
        padding-bottom: 0;
    }
    
    #navegacao h1 a, #navegacao.scroll h1 a {
        margin-top: 10px;        
        height: 35px;
    }

    #navegacao .navbar .navbar-nav a:hover:after {
        width: 0px;
    }

    #home {
        padding-bottom: 50px;
    }
    #home .descricao {
        padding-top: 40px;
    }
    
    #home .box-banner {
        font-size: 18px;
    }

    #home .box-banner h2 {
        font-size: 38px;
        letter-spacing: 2px;
    }

    #sobre, .servico, #portfolio, #contato {
        padding: 30px 0 50px 0;
    }

    .titulo {
        margin: 10px 0 30px 0;
    }

    .box-servico {
        height: 270px;
    }

}

/*Medium devices (tablets, 768px e maiores)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    html {
        overflow-x: hidden;
        height: auto;
    }

    .container {
        padding-left: 5%;
        padding-right: 5%;
        max-width: unset;
    }

    #home .row {
        justify-content: center;
    }

    #navegacao .navbar{
        background-color: rgba(0,0,0,.9);
        padding-top: 2px;
        padding-bottom: 0;
        border-bottom: 1px solid rgba(255,255,255,.1);
        box-shadow: 0 0 10px rgba(0,0,0,.5);
    }

    #navegacao.scroll .navbar, #navegacao h1 {
        padding-top: 2px;
        padding-bottom: 0;
    }
    
    #navegacao h1 a, #navegacao.scroll h1 a {
        margin-top: 10px;        
        height: 35px;
    }

    #navegacao .navbar .navbar-nav a:hover:after {
        width: 0px;
    }

    #home .descricao {
        padding-top: 50px;
    }
    
    #home .box-banner {
        font-size: 18px;
    }

    .titulo {
        margin: 10px 0 30px 0;
    }

    #sobre .box-foto{
        margin-top: 100px;
    }

}

/*Large devices (desktops, 992px e maiores)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
    
}

/*Extra large devices (large desktops, 1200px  e maiores)*/
@media (min-width:1200px) and (max-width:1440px) {
    html {
        height: auto;
    }
}

@media (min-width:1441px){
    html {
        height: auto;
    }

    body {
        max-width: 1700px;
    }

    .container {
        max-width: 1300px;
    }
}
